[desktop]
pynput==1.7.3
pyvjoy==1.0.1
screeninfo==0.6.7
six==1.15.0
pandas==1.2.2
gamepyd==0.1.0

[rpi]
adafruit-circuitpython-ads1x15==2.3.0
colorzero==1.1
gpiozero==1.5.1
pigpio==1.78
RPi.GPIO==0.7.0
RPIO==0.10.0
smbus==1.1.post2
spidev==3.5
PyYAML==5.4.1

[dev]
Flask~=1.1.2
flask-cors~=3.0.10
